/* dininghallspage.css */

/* General styles for the page */
  .wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Enable vertical scroll */
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 80vh; /* Limit height for better vertical centering */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #333;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }
  
  h2 {
    margin-top: 30px;
    color: #555;
  }
  
  .dining-hall {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 100%;
  }
  
  .dining-hall p {
    margin: 5px 0;
  }
  
  .dining-hall a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .dining-hall a:hover {
    text-decoration: underline;
  }
  
  .search-results {
    width: 100%;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
  }
  
  .search-results li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .search-results li:last-child {
    border-bottom: none;
  }
 
