/* LoginPage.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../Components/HomePage/Media/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-page .container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width as necessary */
  text-align: center;
}

.login-page .form-group {
  margin-bottom: 15px;
}

.login-page input[type="text"],
.login-page input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-page button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.login-page button:hover {
  background-color: #45a049;
}

.login-page .error {
  color: red;
  margin-bottom: 15px;
}

.login-page .logo {
  margin-bottom: 20px;
}

.login-page h1 {
  font-size: 24px;
  margin: 0;
}
