.profile-page-container {
  padding-top: 60px;
  padding-bottom: 400px;
}

.ProfilePage {
  text-align: center;
}

.ProfilePage-header {
  background-color: white;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.image-item img {
  width: 100%;
  height: auto;
}

.image-item p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.rating {
  margin-bottom: 20px;
}

.rating button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.rating button.active {
  color: gold;
}

.number-ratings {
  font-size: 12px;
}

.average-rating {
  font-size: 12px;
}

.star {
  display: inline-block;
  width: 1em;
  overflow: hidden;
  font-size: 24px;
}

.login-wrapper {
  padding-top: 20px;
}

.login {
  border-radius: 50px;
  padding: 10px 38px;
  background-color: #3f9e6a;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}