.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b2929;
    color: #ffffff;
    padding: 10px 20px;
    z-index: 1000; /* Ensure it stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.nav-menu li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: #ffa500;
    text-decoration: underline;
}

.nav-profile-wrapper {
    padding-right: 30px;
}

.nav-profile {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #615efc;
    color: #ffffff;
    text-decoration: none;
}

.nav-profile:hover {
    text-decoration: underline;
    color: #ffa500;
}