.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b2929;
    color: #ffffff;
    padding: 10px 20px;
    z-index: 1000; /* Ensure it stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-logo {
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu-wrapper {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 20px; /* Adjust gap to fit your design */
}

.nav-menu li {
    display: flex;
    align-items: center;
}

.nav-search {
    background-color: #ffffff; /* Change to white */
    color: #000000; /* Change text color to black for visibility */
    border: none;
    border-radius: 50px;
    padding: 10px 15px; /* Adjust padding to fit better within the space */
    margin-left: 10px; /* Add margin to separate from login button */
}

.nav-menu li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: #ffa500;
    text-decoration: underline;
}

.nav-profile-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust gap to fit your design */
}

.nav-profile {
    border-radius: 50px;
    padding: 10px 20px; /* Adjust padding to fit better within the space */
    background-color: #615efc;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px; /* Add margin to separate from search bar */
}

.nav-profile:hover {
    text-decoration: underline;
    color: #ffa500;
}
