
.ProfileCard{
    margin-top: 5rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.05rem;
    overflow-x: clip;
    background: whitesmoke;
}


.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages>img:nth-of-type(1){
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.ProfileImages>img:nth-of-type(2){
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px
}

.ProfileName>span:nth-of-type(1){
    font-weight: bold;
    font-size: 24px;
}
